.home {
  background-image: url('https://images.unsplash.com/photo-1473357237784-6e0cb4e70a67?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=5417c159ef7e4ce71402199b04bb3473');
  background-size: cover;
}

.login {
  background-image: url('https://hd.unsplash.com/photo-1446104838475-bc6508184f08');
  background-size: cover;
}

.register {
  background-image: url('https://hd.unsplash.com/uploads/1413595244012e81f5c69/de0cc225');
  background-size: cover;
}

.homeLoggedIn {
  background-image: url('https://i.imgur.com/OFAiSXd.jpg');
  background-size: cover;
}

.request {
  background-image: url('https://hd.unsplash.com/photo-1462040700793-fcd2dbc0edf0');
  background-size: cover;
}

.marketplace {
  background-image: url('https://hd.unsplash.com/photo-1469735139965-2d27590468a4');
  background-size: cover;
}
